#include <windows.h>
// #include "Resource.h"

/* Win32 application icon */
// IDI_APPICON ICON                       "DRP.ico"

/* Application manifest */
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "DRP.manifest"
